.results{
    background-color: #ebebeb;
    padding: 1rem;
    display: grid;
    justify-content: center;
    margin: 1.5rem auto;
}

.resultDiv{
    display: grid;
    grid-template-columns: repeat(2,1fr); 
}

.matchDate{
    text-align: center;
    padding: .5rem;
    color: #151e2d;
    font-weight: 700;
    font-size: .75rem;
}

.team1{
    display: flex;
    justify-content: end;
    align-items: center;
}

.team2{
    display: flex;
    justify-content: start;
    align-items: center;
}


.shield{
    width: 4rem;
    height: 4rem;
}

.goals{
 padding: .65rem .9rem;
 background-color: #1a2434;
 border-radius: .25rem;
 color: #fff;
 font-weight: bold;
 font-size:1.25rem;
 margin: 0 .25rem;
}

.goalsAgainst{
    padding: .65rem .9rem;
    background-color: #82878f;
    border-radius: .25rem;
    color: #fff;
    font-weight: bold;
    font-size:1.25rem;
    margin: 0 .25rem;
   }

.teamName{
    color: #151e2d;
    font-weight: 700;
    font-size: 1.25rem;
    margin: 0 .5rem;
}

@media (max-width:768px){
    .teamo1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .team2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .resultDiv{
        display: grid;
        grid-template-rows: repeat(2,1fr); 
        grid-template-columns: none;
        gap: 3px;
    }
}