.cardProductDetail{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2,1fr); 
}

.productPriceDetail{
    color:#fff201;
    font-weight: 700 !important;
font-size: 2rem !important;
}

.productDescriptionDetail{
    color:#ccc;
    font-weight: 700 !important;
font-size: 1rem !important;
}

.productTitleDetail{
    font-weight: 700 !important;
    font-size: 3rem !important;
}