.card-body{
    display: grid;
}

.alignEnd{
    display: grid;
    grid-template-rows: 2fr 4fr 1fr;
}

#cardProduct{
    background-color: #9b0006; 
    background-position: center; 
    background-size: cover; 
    background-repeat: no-repeat; 
    height: 330px; 
    max-width: 100%;
    background-position-y: 50px;
    margin:1rem;
}

.buttonBuy{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-decoration: none;
}

.textColorWhite{
    color:#fff;
}

.productPrice{
    color:#fff201;
    font-weight: 700 !important;
    font-size: 1.5rem !important;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 0;
}

.productTitle{
    font-weight: 700 !important;
    font-size: 1.75rem !important;
}