#card-body{
    background-color: #9b0006; 
    background-position: center; 
    background-size: cover; 
    background-repeat: no-repeat; 
    height: 450px; 
    max-width: 100%;
    background-position-y: 115px;
    margin:1rem;
}

.text-color-blanco{
    color:#fff;
}

.numero{
    margin-bottom: auto;
    font-size: 3.75rem;
}

.pPosicion{
    color:#fff201;
    font-weight: 700 !important;
font-size: .75rem !important;
}

.pNombre{
    font-weight: 700 !important;
    font-size: 1.75rem !important;
}