.banner{
    width: 55%;
    height: auto;
  }
  
  .banner2{
    padding: 3rem;
    width:45%;
    display: grid;
  }
  
  .banner3{
    display: grid;
    align-items: end;
  }
  
  .banner img{
  max-width: 100%;
  height: auto;
  transform: scaleX(-1);
  }

  @media (max-width: 768px){
    .banner{
        width: 100%;
      }
      
      .banner2{
        width:100%;
      }
      
      .banner3{
        display: grid;
        align-items: end;
      }
      
      .fdc{
        flex-direction: column;
      }
  }